<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182109495915-qmt633peq6bf8i9g5t3c2a9lq6i08pdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182109495915-qmt633peq6bf8i9g5t3c2a9lq6i08pdf</string>
	<key>API_KEY</key>
	<string>AIzaSyC755xAUNTe0yEpwERfXGV_JMGG0ZddUsk</string>
	<key>GCM_SENDER_ID</key>
	<string>182109495915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eliteludo.webplustech</string>
	<key>PROJECT_ID</key>
	<string>eliteludo-8bfbf</string>
	<key>STORAGE_BUCKET</key>
	<string>eliteludo-8bfbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182109495915:ios:e7e81488b87046303b872e</string>
</dict>
</plist>